//@theme "/home/ewerton/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/rounded-orange-dark.rasi"
//@theme "/home/ewerton/.local/share/rofi/themes/launchpad.rasi"
@theme "/home/ewerton/.local/share/rofi/themes/rounded-blue-dark.rasi"
